//
@import '/src/app/styles/variables.scss';

.signature {
    font-family: 'Edu TAS Beginner', cursive;
    font-weight: 500;
}

.wrapper {

    p {
        line-height: 2;
    }

    &Body {
        margin-top: 45px;

        &Skills {
            margin-top: 35px;

            >div {
                >h5 {
                    border-bottom: 2px solid #000;
                    width: fit-content;
                }

                &:not(:first-of-type) {
                    margin-top: 35px;
                }
            }
        }
    }

}

// ABOVE 769px screen size
@media (min-width: 769px) {
    .wrapperBodySkills {
        width: 75% !important;
    }
}

// BELOW 350px screen size
@media (max-width: 350px) {
    svg {
        height: 35px !important;
        width: 35px !important;
    }
}