<div class="wrapper">
    <section class="wrapperTitle">
        <h4>Projects</h4>
    </section>

    <section class="wrapperProjects">
        <div class="columns is-mobile is-multiline" *ngIf="!requestsLoading['get-projects']; else showPageLoading">
            <div class="column is-half-desktop is-full-tablet"
                *ngFor="let project of projects; let projectIndex = index">
                <div>
                    <div>
                        <h6>
                            <app-awesome-icon [icon]="projectIcon"></app-awesome-icon>
                            <a class="is-size--14 ml-1" [href]="project.link" target="_blank"
                                rel="noopener">{{project.title}}</a>
                        </h6>
                    </div>
                    <div class="mt-2 is-size--12" style="height: 85px">
                        <p>{{project.body}}</p>
                    </div>
                    <div class="mt-2">
                        <p class="is-size--12">
                            <span *ngFor="let tag of project.tags; let lastIndex = last">
                                <span>{{tag}}</span>
                                <span class="px-2" *ngIf="!lastIndex">/</span>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <ng-template #showPageLoading>
            <p>
                <app-loading-spinner></app-loading-spinner>
            </p>
        </ng-template>
    </section>
</div>